{%- if cart.item_count > 0 -%}
  {%- assign product = cart.items.first -%}
{%- endif -%}
<div
  class="product-recommendations"
  data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit=4&intent=related"
>
  {%- if recommendations.performed? and recommendations.products_count > 0 -%}
    {% if recommendations.intent == 'related' %}
      <h2>You may also like</h2>
    {% elsif recommendations.intent == 'complementary' %}
      <h2>Pair it with</h2>
    {% endif %}

    <ul>
      {%- for product in recommendations.products -%}
        <li class="product">
          <a href="{{ product.url }}">
            <img
              class="product__img"
              src="{{ product.featured_image | image_url: width: 300, height: 300 }}"
              height="300px"
              width="300px"
              alt="{{ product.featured_image.alt }}"
            >

            <p class="product__title">{{ product.title }}</p>
            <p class="product__price">{{ product.price | money }}</p>
          </a>
        </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "Product recommendations",
  "settings": []
}
{% endschema %}
