{%- capture flickity_config -%}
{
  "wrapAround": true,
  "pageDots": false,
  "setGallerySize": false,
  "prevNextButtons": true,
  "arrowShape": {"x0": 20, "x1": 60, "y1": 40, "x2": 60, "y2": 35, "x3": 25}
}
{%- endcapture -%}

<section class="Section Section--spacingNormal" data-section-id="{{ section.id }}" data-section-type="instagram">
  {%- if section.settings.subheading != blank or section.settings.title != blank -%}
    <section class="SectionHeader SectionHeader--center">
      <div class="Container">
        {%- if section.settings.subheading != blank -%}
          <h3 class="Section__SubHeading Heading u-h6">{{ section.settings.subheading | escape }}</h3>
        {%- endif -%}

        {%- if section.settings.title != blank -%}
          <h2 class="Section__Heading Heading u-h1">{{ section.settings.title | escape }}</h2>
        {%- endif -%}
      </div>
    </section>
  {%- endif -%}

  <div class="Instafeed Carousel Carousel--fixed" data-flickity-config='{{ flickity_config }}'>
    {%- for block in section.blocks -%}
      <div class="Carousel__Cell Instafeed__Cell">
        <a href="{{ block.settings.link }}" class="Instafeed__Link PlaceholderBackground">
          <img src="{{ block.settings.image  | img_url: '1000x' }}" class="Instafeed__Image" alt="{{ block.settings.text }}">
        </a>
      </div>
    {%- endfor -%}
  </div>
</section>

<style>
</style>

{% schema %}
{
  "name": "Vertical Image Slider",
  "settings": [
        {
          "type": "text",
          "id": "subheading",
          "label": "Sub-heading",
          "default": "@YourStore"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Follow us"
        }],
  "blocks": [
    {
      "type": "image_card",
      "name": "Image Card",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Vertical Image Slider"
    }
  ]
}
{% endschema %}